#exc-1 {

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    & button {
        font-weight: bold;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #e6b57c;
        color: black;
        border-style: none;
        padding: 10px;
        box-sizing: border-box;
        /* 
        transition:  background-color 0.5s ease-out;
        transition-timing-function: ease-out; 
                    ↑↑↑↑↑
        This can be simplified by using the shorthand property:
                    ↓↓↓↓↓
        */
        transition: background-color, scale, 0.5s ease-out;
    }

    & button:hover {
            color: #ffffff;
            cursor: pointer;
            background-color: #000000;
            scale: 1.4;
    }
    & :nth-child(2):hover {
        /* ↓ Here we specify the second object will have a delay */
        transition-delay: .7s;
    }

    .stormtrooper {
        box-sizing: border-box;
        border: #ffffff 2px solid;
        width: 150px;
        height: 150px;
        margin: 0px;
        object-fit: contain;
        overflow: hidden;
        
        & img {
            width: 100%;
            transition: .5s ease-in-out;
        }

        & :hover {
            scale: 1.8;
        }
    }
}

#spin-1 {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: aliceblue;
    transition: 1.5s ease-in-out;
}

#spin-1:hover {
    transform: rotate(720deg);
}